# Carregar dados

In [14]:
import pandas as pd

# # Mostrar mais colunas
pd.set_option("display.max_columns", 100)
pd.set_option('display.max_colwidth', 100)

def load_file(ano = 2019):
  path = f"./output/silver/rais_{ano}_prof_TI_RAIS_VINC_PUB.parquet.gzip"
  df = pd.read_parquet(path)

  qnt_total = len(df)

  print(f"""
  Quantidade docs: {qnt_total}
  """)

  return df

df_2019 = load_file(ano = 2019)
df_2019.head(2)

  Quantidade docs: 162073

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,Distritos SP,Vínculo Ativo 31/12,Faixa Etária,Faixa Hora Contrat,Faixa Remun Dezem (SM),Faixa Remun Média (SM),Faixa Tempo Emprego,Escolaridade após 2005,Qtd Hora Contr,Idade,Ind CEI Vinculado,Ind Simples,Mês Admissão,Mês Desligamento,Mun Trab,Município,Nacionalidade,Natureza Jurídica,Ind Portador Defic,Qtd Dias Afastamento,Raça Cor,Regiões Adm DF,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),Vl Remun Média Nom,Vl Remun Média (SM),CNAE 2.0 Subclasse,Sexo Trabalhador,Tamanho Estabelecimento,Tempo Emprego,Tipo Admissão,Tipo Estab,Tipo Estab.1,Tipo Defic,Tipo Vínculo,IBGE Subsetor,Vl Rem Janeiro CC,Vl Rem Fevereiro CC,Vl Rem Março CC,Vl Rem Abril CC,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,Ano Chegada Brasil,Ind Trab Intermitente,Ind Trab Parcial,ano
0,{ñ class},{ñ class},{ñ class},99,99,99,12,317210,47512,52450,{ñ class},0,2,6,0,1,1,6,44,17,0,1,8,10,0,500240,10,2135,0,0,2,0,0.0,0.0,997.99,0.99,4751201,1,1,2.9,1,1,CNPJ,0,10,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.98,9.98,0.0,0.0,0,0,0,2019
1,{ñ class},{ñ class},{ñ class},80,99,99,11,212420,10112,15113,{ñ class},0,5,6,0,99,8,6,44,36,0,0,0,01,500570,500570,10,2046,0,1,2,0,0.0,0.0,0.00,0.00,1011201,1,10,170.2,0,1,CNPJ,0,10,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0,0,0,2019

In [15]:
df_2020 = load_file(ano = 2020)
df_2020.head(2)

  Quantidade docs: 222102

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,Distritos SP,Vínculo Ativo 31/12,Faixa Etária,Faixa Hora Contrat,Faixa Remun Dezem (SM),Faixa Remun Média (SM),Faixa Tempo Emprego,Escolaridade após 2005,Qtd Hora Contr,Idade,Ind CEI Vinculado,Ind Simples,Mês Admissão,Mês Desligamento,Mun Trab,Município,Nacionalidade,Natureza Jurídica,Ind Portador Defic,Qtd Dias Afastamento,Raça Cor,Regiões Adm DF,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),Vl Remun Média Nom,Vl Remun Média (SM),CNAE 2.0 Subclasse,Sexo Trabalhador,Tamanho Estabelecimento,Tempo Emprego,Tipo Admissão,Tipo Estab,Tipo Estab.1,Tipo Defic,Tipo Vínculo,IBGE Subsetor,Vl Rem Janeiro SC,Vl Rem Fevereiro SC,Vl Rem Março SC,Vl Rem Abril SC,Vl Rem Maio SC,Vl Rem Junho SC,Vl Rem Julho SC,Vl Rem Agosto SC,Vl Rem Setembro SC,Vl Rem Outubro SC,Vl Rem Novembro SC,Ano Chegada Brasil,Ind Trab Intermitente,Ind Trab Parcial,ano
0,{ñ class},{ñ class},{ñ class},99,99,99,11,317205,10520,15423,{ñ class},0,6,6,0,3,7,3,44,42,0,0,0,09,500190,500190,10,2062,0,0,2,0,0.0,0.0,1843.44,1.76,1052000,1,7,82.8,0,1,CNPJ,0,10,13,2293.58,2002.72,18.81,1523.02,2137.50,2469.62,1877.20,562.91,0.0,0.0,0.0,0,0,0,2020
1,{ñ class},{ñ class},{ñ class},99,99,99,11,317205,62031,72214,{ñ class},0,8,6,0,3,8,4,44,73,0,0,0,09,500270,500270,10,2062,0,0,2,0,0.0,0.0,1606.26,1.53,6203100,1,9,197.3,0,1,CNPJ,0,10,19,1813.83,1571.98,1582.89,2030.75,1613.78,1569.90,1567.97,1582.89,0.0,0.0,0.0,0,0,0,2020

# Somente colunas que importam

In [16]:
def somente_cols_importam(df, ano = 2019):
  df_r = df[['ano', 'Município', 'Vl Remun Média (SM)', 'Idade', 'CBO Ocupação 2002', 'Sexo Trabalhador', 'Raça Cor']]

  df_r = df_r.rename(columns={
    'Município': 'id_uf_municipio',
    'Vl Remun Média (SM)': 'valor_remuneracao_media',
    'Idade': 'idade',
    'CBO Ocupação 2002': 'ocupacao_id',
    'Sexo Trabalhador': 'sexo_id',
    'Raça Cor': 'raca_cor_id'
  })

  df_r.head(2)
  return df_r

df_c_2019 = somente_cols_importam(df_2019, ano = 2019)
df_c_2019.head(2)

,ano,id_uf_municipio,valor_remuneracao_media,idade,ocupacao_id,sexo_id,raca_cor_id
0,2019,500240,0.99,17,317210,1,2
1,2019,500570,0.00,36,212420,1,2

In [17]:
df_c_2020 = somente_cols_importam(df_2020, ano = 2020)
df_c_2020.head(2)

,ano,id_uf_municipio,valor_remuneracao_media,idade,ocupacao_id,sexo_id,raca_cor_id
0,2020,500190,1.76,42,317205,1,2
1,2020,500270,1.53,73,317205,1,2

# Juntando com UF

In [18]:
def load_file_mun(df, ano = 2019):
  path =f"./output/silver/uf_municipio_{ano}.parquet.gzip"
  df_mun = pd.read_parquet(path)

  df_mun["id_uf_municipio"] = df_mun["id_uf_municipio"].astype(int)

  df_m = pd.merge(df, df_mun, on='id_uf_municipio', how='left', suffixes=('', '_mun'))
  df_m.drop(columns=['ano_mun'], inplace=True)

  qnt_total = len(df)

  print(f"""
  Quantidade docs: {qnt_total}
  """)

  return df_m

df_d_2019 = load_file_mun(df_c_2019, ano = 2019)
df_d_2019.head(2)

  Quantidade docs: 162073

,ano,id_uf_municipio,valor_remuneracao_media,idade,ocupacao_id,sexo_id,raca_cor_id,sigla_uf,sigla_municipio
0,2019,500240,0.99,17,317210,1,2,MS,Caarapo
1,2019,500570,0.00,36,212420,1,2,MS,Navirai

In [19]:
df_d_2020 = load_file_mun(df_c_2020, ano = 2020)
df_d_2020.head(2)

  Quantidade docs: 222102

,ano,id_uf_municipio,valor_remuneracao_media,idade,ocupacao_id,sexo_id,raca_cor_id,sigla_uf,sigla_municipio
0,2020,500190,1.76,42,317205,1,2,MS,Bataguassu
1,2020,500270,1.53,73,317205,1,2,MS,Campo Grande

# Juntando tudo

In [20]:
df = pd.concat([df_d_2019, df_d_2020])
len(df)

384175

In [21]:
df["sigla_uf"].value_counts()

sigla_uf
SP    150366
RJ     37056
MG     33701
DF     31032
SC     25080
PR     23985
RS     22562
PE      8812
BA      8242
CE      7925
RO      6766
ES      5356
GO      4719
RN      3154
MT      2821
PB      2252
PA      1749
MS      1727
PI      1494
AM      1421
MA      1396
SE       909
AL       593
TO       365
AC       313
AP       234
RR       145
Name: count, dtype: int64

# Salvando arquivo

In [22]:
df.to_parquet("./output/silver/rais_TODOS_ANOS_RAIS_VINC_PUB.parquet.gzip", index=False, compression="gzip")

## Arquivo com todas as colunas

In [24]:
def somente_cols_importam_raw(df, ano=2019):

  df_r = df.rename(columns={
      'Município': 'id_uf_municipio',
      'Vl Remun Média (SM)': 'valor_remuneracao_media',
      'Idade': 'idade',
      'CBO Ocupação 2002': 'ocupacao_id',
      'Sexo Trabalhador': 'sexo_id',
      'Raça Cor': 'raca_cor_id'
  })

  df_r.head(2)
  return df_r

In [27]:
df_e_2019 = somente_cols_importam_raw(df_2019, ano=2019)
df_e_2020 = somente_cols_importam_raw(df_2020, ano=2020)

df_f_2019 = load_file_mun(df_e_2019, ano=2019)
df_f_2020 = load_file_mun(df_e_2020, ano=2020)

df_g = pd.concat([df_f_2019, df_f_2020])

df_g.head(2)

  Quantidade docs: 162073


  Quantidade docs: 222102

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,ocupacao_id,CNAE 2.0 Classe,CNAE 95 Classe,Distritos SP,Vínculo Ativo 31/12,Faixa Etária,Faixa Hora Contrat,Faixa Remun Dezem (SM),Faixa Remun Média (SM),Faixa Tempo Emprego,Escolaridade após 2005,Qtd Hora Contr,idade,Ind CEI Vinculado,Ind Simples,Mês Admissão,Mês Desligamento,Mun Trab,id_uf_municipio,Nacionalidade,Natureza Jurídica,Ind Portador Defic,Qtd Dias Afastamento,raca_cor_id,Regiões Adm DF,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),Vl Remun Média Nom,valor_remuneracao_media,CNAE 2.0 Subclasse,sexo_id,Tamanho Estabelecimento,Tempo Emprego,Tipo Admissão,Tipo Estab,Tipo Estab.1,Tipo Defic,Tipo Vínculo,IBGE Subsetor,Vl Rem Janeiro CC,Vl Rem Fevereiro CC,Vl Rem Março CC,Vl Rem Abril CC,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,Ano Chegada Brasil,Ind Trab Intermitente,Ind Trab Parcial,ano,sigla_uf,sigla_municipio,Vl Rem Janeiro SC,Vl Rem Fevereiro SC,Vl Rem Março SC,Vl Rem Abril SC,Vl Rem Maio SC,Vl Rem Junho SC,Vl Rem Julho SC,Vl Rem Agosto SC,Vl Rem Setembro SC,Vl Rem Outubro SC,Vl Rem Novembro SC
0,{ñ class},{ñ class},{ñ class},99,99,99,12,317210,47512,52450,{ñ class},0,2,6,0,1,1,6,44,17,0,1,8,10,0,500240,10,2135,0,0,2,0,0.0,0.0,997.99,0.99,4751201,1,1,2.9,1,1,CNPJ,0,10,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.98,9.98,0.0,0.0,0,0,0,2019,MS,Caarapo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,{ñ class},{ñ class},{ñ class},80,99,99,11,212420,10112,15113,{ñ class},0,5,6,0,99,8,6,44,36,0,0,0,01,500570,500570,10,2046,0,1,2,0,0.0,0.0,0.00,0.00,1011201,1,10,170.2,0,1,CNPJ,0,10,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0,0,0,2019,MS,Navirai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# Salvando com todas as colunas
df_g.to_parquet("./output/silver/rais_TODOS_ANOS_TODAS_COLS_RAIS_VINC_PUB.parquet.gzip",
              index=False, compression="gzip")